@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$beige: #F8F7F3;

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

    /* Quicksand weights
    - light 300
    - regular 400
    - medium 500
    - semibold 600
    - bold 700 
    */

}

body {
    background-color: $beige;
    background-image: radial-gradient(lightgray 5.5%, transparent 0);
    background-size: 30px 30px;

}

.psa {
    position: absolute;
}

.psr {
    position: relative;
}