@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$beige: #F8F7F3;

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;

    /* Quicksand font weights
    - light 300
    - regular 400
    - medium 500
    - semibold 600
    - bold 700 
    */

    /* Firefox scrollbar */

    scrollbar-width: thin;
    scrollbar-color: black transparent;

    
    /* Chrome, Edge, and Safari scroll bar */

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 20px;
        border: none;
    }
}

body {
    
    background-color: $beige;
    background-image: radial-gradient(lightgray 5.5%, transparent 0);
    background-size: 30px 30px;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 80px;

    .blackline {
        width: 350px;
        height: 1px;
        border-radius: 10px;
        background-color: black;
        margin-top: 80px;
    }

    @media (max-width: 750px) {
        
        .blackline {
            width: 250px;
            margin-top: 50px;
        }
    }
}

.psa {
    position: absolute;
}

.psr {
    position: relative;
}

.disabled {
    pointer-events: none;
    cursor: default;
}
